---
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/LinkedinIcon.astro";
import Github from "../components/icons/GithubIcon.astro";
import Socialpill from "../components/Socialpill.astro";
import Layout from "../layouts/Layout.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import SectionCointainer from "../components/SectionCointainer.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import Projects from "../components/Projects.astro";
---

<Layout>
  <main class="mx-auto px-6 w-full">
    <SectionCointainer id="sobre-mi" class="pt-40 pb-24">
      <img
        src="./midudev.webp"
        alt="Imagen de Biel"
        class="rounded-full size-12 object-contain lg:mx-0 mx-auto"
      />
      <h1
        class="text-3xl sm:text-4xl font-bold flex sm:justify-center lg:justify-start flex-col gap-y-4 md:flex-row gap-x-4 pb-4"
      >
        <span class="shrink-0 md:shrink"> Hey, Soy Biel Martinez </span>
        <a
          href="https://www.linkedin.com/in/biel-mart%C3%ADnez-0a3051271/"
          class="flex justify-center items-center shrink"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2
        class="text-xl text-center lg:text-start opacity-85 text-pretty lg:max-w-[600px]"
      >
        <span class="font-bold text-amber-300 opacity-100"
          >Desarrollador Web</span
        > de Barcelona, España. Especializado en el diseño y desarrollo de interfaces
        de usuario modernas, intuitivas y completamente responsivas. Con una <span
          class="font-bold text-amber-300/100"
          >mentalidad orientada a la resolución de problemas y un enfoque
          colaborativo</span
        > .
        <span class="block opacity-80"
          >Siempre dispuesto a enfrentar nuevos retos y seguir aprendiendo.</span
        >
      </h2>

      <ul
        class="flex flex-col sm:flex-row gap-6 justify-center lg:justify-start"
      >
        <li>
          <Socialpill
            href="https://www.linkedin.com/in/biel-mart%C3%ADnez-0a3051271/"
          >
            Linkedin
            <Linkedin class="size-6" />
          </Socialpill>
        </li>
        <li>
          <Socialpill href="https://github.com/bielmc11">
            Github
            <Github class="size-6" />
          </Socialpill>
        </li>

        <li>
          <Socialpill href="mailto:bielmarticr@gmail.com">
            bielmarticr@gmail.com
            <MailIcon class="size-6" />
          </Socialpill>
        </li>
      </ul>
    </SectionCointainer>

    <SectionCointainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex items-center gap-x-3">
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionCointainer>

    <SectionCointainer id="projectos">
      <h2 class="text-2xl font-semibold mb-6 flex items-center gap-x-3 mt-10">
        Projectos
        <Code class="size-8" />
      </h2>
      <Projects />
    </SectionCointainer>
  </main>
</Layout>
