<header class="flex mt-2 justify-center py-3 lg:w-[1000px] sm:w-[600px] px-2 sm:px-0 mx-auto">


  <nav class="flex justify-center flex-2">
    <ul class="flex gap-x-4 justify-center opacity-80">
      <li><a href="/">Home</a></li>
      <li><a href="/">Sobre mí</a></li>
      <li><a href="/">Projects</a></li>
      <li><a href="/">Contact</a></li>
    </ul>
  </nav>

  
</header>
