---
const { class: className, id } = Astro.props;
---
<section id={id} aria-label={id} class={`w-full md:w-[740px] text-center lg:text-start mx-auto flex flex-col justify-center lg:justify-start gap-4 ${className}`}>	
    <slot />
</section>