---

---

<article
  class="flex flex-col md:flex-row justify-between items-center md:gap-8"
>
  <div class="text-sm flex flex-col gap-y-4 text-start">
    <p class="text-pretty">
      Me llamo Biel Martínez, estudie ADE con mención en contabilidad y
      fiscalidad en la universidad de Barcelona, posteriormente <span
        class="dark:text-amber-200 text-amber-400"
        >curse un master en desarrollo web</span
      > .
    </p>
    <p class="text-pretty">
      Soy un apasionado del desarrollo web, <span
        class="dark:text-amber-200 text-amber-400"
        >estoy especializado en front end con frameworks como Next.js y Astro</span
      >. También tengo conociminetos tanto sobre
      <span class="dark:text-amber-200 text-amber-400"
        >backend con Node.js y Express.js</span
      > como de SQL para manejar la base de datos.
    </p>
    <p class="text-pretty">
      He trabajado en empresas de Contabilidad y Fiscalidad, en el área de la
      enseñanza y en el ambito tecnologico he llevado acabo tanto <span
        class="dark:text-amber-200 text-amber-400"
        >con equipos de 8 personas como individuales</span
      >.
    </p>
  </div>

  <img
    src="/me.png"
    alt="imagen de mi"
    class="h-full w-44 rounded-md rotate-10 object-cover ring-1 ring-white/20 bg-black/70"
  />
</article>
