<article
  class="flex flex-col-reverse md:flex-row justify-between items-center md:gap-8"
>
  <div class="text-sm flex flex-col gap-y-4 text-start">
    <p class="text-pretty">
      My name is Biel Martínez, I studied ADE with accounting and finance
      mention at the University of Barcelona. Later<span
        class="dark:text-amber-200 text-amber-400"
      >
        I completed a Master's in Web Development</span
      > .
    </p>
    <p class="text-pretty">
      A passionate web developer, <span
        class="dark:text-amber-200 text-amber-400"
      >
        specialized in frontend technologies, particularly with frameworks like
        Next.js and Astro
      </span>(I also have a solid understanding of Angular). I’m also familiar
      with
      <span class="dark:text-amber-200 text-amber-400"
        >backend development using Node.js and Express.js,</span
      > and have experience working with SQL for database management.
    </p>
    <p class="text-pretty">
      I have worked in accounting and taxation companies, in the education
      sector, and in the technology field, where I have carried out both <span
        class="dark:text-amber-200 text-amber-400"
        >teams of 8 people and individuals</span
      >.
    </p>
  </div>

  <img
    src="/yo5.webp"
    alt="imagen de mi"
    class="h-full w-3/4 md:w-44 rounded-md rotate-5 object-cover ring-1 md:mb-0 mb-10 ring-white/20 bg-black/70"
  />
</article>
