<a
  href={Astro.props.href}
  class="rounded-full text-sm border text-gray-800 border-gray-300 hover:text-gray-200 hover:bg-gray-800 dark:text-white dark:border-gray-600 dark:bg-gray-800/90 dark:hover:bg-gray-200 dark:hover:text-gray-800 transition flex px-4 py-1 justify-center gap-4 sm:gap-1 items-center max-w-70 mx-auto"
  target="_blank"
  rel="noopener noreferrer"
> 
    <slot />
</a>
